# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
venv/
ENV/

# Core dumps
core.*

# Environment & Secrets
.env
.env.local

# Pytest / Cache
.pytest_cache/
tests_output/

# IDE / System
.DS_Store
.idea/
.vscode/
